body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #181f27;
    /* Dark background color */
    color: #95d3ff;
    /* Light text color */
}

.container {
    background-color: #1c232c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    height: 200px;
    border: 1px solid #2c3e50;
}
